<h1>News Article Show Page</h1>

<p>Title: <%= @news_article.title %></p>
<p>Date Published: <%= @news_article.published %></p>
<p>Description: <%= @news_article.description %></p>
<p>Category: <%= @news_article.category %></p>
<p>Image:  <img class="show-img" src="<%= @news_article.img_url %>" alt="<%= @news_article.title %>"></p>
<p>URL: <%= link_to @news_article.url, "#{@news_article.url}", :target => "_blank" %></p>

<%= link_to 'Index page', news_articles_path %>
