<!DOCTYPE html>
<html>
  <head>
    <title>LatestNewsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class='nav'>
        <img class='logo' src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Internet-news-reader.svg/600px-Internet-news-reader.svg.png" alt="mm" style="width:250px;height:250px;object-fit: cover;">
        
      </div>

      <ul>
        <li><%= link_to 'News Home', news_articles_path %></li>
        <li><%= link_to 'User Home', current_user_path %></li>
        <li><%= link_to 'Add Article to Favorites', new_user_news_article_path %></li>

        <% if @current_user %>
          <li class='right'>Welcome <%= @current_user.name %>!</li>
          <li class='right'><%= link_to "Log-Out", logout_path, method: :delete%></li>
        <% else %>
          <li class='right'><%= link_to 'Sign-Up', new_user_path %></li>
          <li class='right'><%= link_to 'Sign-In', new_login_path %></li>
        <% end %>
      </ul>

    <%= yield %>
  </body>
</html>
